data/documents/webclue_docs/
data/documents/webclue_docs_full/
data/documents/webclue_docs_1000/
data/clueweb_stats/
data/topic_indexes/
data/qulac/qulac_hist012_dict.json
.idea/
**/__pycache__/
**/docs.zip
**/anserini/
**/anserini.zip
**/anserini.porter/
**/anserini.porter.zip
**/anserini.porter.train.runs/
**/anserini.porter.valid.runs/
**/anserini.porter.test.runs/
**/anserini.porter.test_yes.runs/
**/docs.sqlite
**/docs.sqlite.tmp
**/faceted_qid.qrel
**/qids_splits_topic.pkl
**/used_docs.pkl
